{% extends "base.html"%}

{%block title%}Добавление Города{% endblock%}

{%block content%}
<div class="position-relative overflow-hidden m-md-3 text-center bg-light">
    <div class=" p-lg-5">   
    <div class="row mx-auto">
        <div class='text-left'>
            <h1 class="">Добавить новый Город</h1>
            <!-- Форма для добавления города -->
            <h5>Вы можете добавить город:</h5>
            <form action="" method="post"> {% csrf_token %}
                <!-- csrf token необходим для разрешения запросов POST -->
                {{form.as_p}}
                <!-- Форма через form API-->
                <input type="submit" value="Сохранить">
            </form>

        </div>
    </div>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>

    

</div class="col-md-5 p-lg-5 mx-auto my-5">

{%endblock%}